html {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: #fffaed;
    color: #512615;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #512615;
}

nav {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0em 5em 0em 5em;
    justify-content: center;
}

nav a {
    height: 50px;
}

nav a:hover {
    background-color: bisque;
}

nav li:first-child {
    margin-right: auto;
}

.comingSoon {
    min-width: 100vw;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 650;
    font-size: 3em;
}