html {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: #e6c570;
    color: #512615;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    min-width: 500px;
    width: 50em;
    margin: 0px auto 0px auto;
    text-align: justify;
}

a {
    text-decoration: none;
    color: #512615;
}

nav {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0em 5em 0em 5em;
    justify-content: center;
}

.tail {
    min-height: 8em;
}